@import "@/css/variable.scss";

.popover {
  position: absolute;
  inset: 0 auto auto 0;
  margin: 0px;
}
.popover-content {
  position: absolute;
  border-radius: 5px;
  background: var( --popover-background );
  color: var( --popover-text );
  padding: 8px;
  top: 35px;
}

// svgPopover 組件css
.svg-popover {
  display: flex;
  flex-direction: column;
  width: 200px;
}
