@import "@/css/variable.scss";

.popover {
  position: relative;
  left: 10px;
}
.popover-content {
  position: absolute;
  border-radius: 5px;
  background: var( --popover-background );
  color: var( --popover-text );
  padding: 8px;
  top: 35px;
}
