@import "@/css/variable.scss";

.text-popover {
  border-radius: 5px;
  background: var( --popover-background );
  color: var( --popover-text );
  padding: 8px;
  top: 35px;
}

// svgPopover 組件css
.svg-popover {
  display: flex;
  flex-direction: column;
  width: 200px;
}
