@import "@/css/variable.scss";

.text-popover {
  border-radius: 5px;
  background: var( --popover-background );
  color: var( --popover-text );
  padding: 8px;
  top: 35px;
}

// svgPopover 組件css
.svg-popover {
  border-radius: 5px;
  background: var( --popover-background );
  color: var( --popover-text );
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .row {
    display: flex;
  }
  .show-img {
  }
}

//
.options-popover {
  color: #eeedec;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  background-color: #3c3029;
  border: 0.5px solid #696462;
}
