@import "reset";
@import "theme/dark";
@import "theme/light";

:root{
  --code-font-size: 14px
}

.switch-theme {
  padding: 5px 10px;
  width: 150px;
  background: #5f6161;
  color: #bdbdbd;
}

#root, .app {
  height: 100%;
  width: 100%;
}

.remote-assistance-route {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  width: 100%;
}
