@mixin light {
  // Project Tab
  --project-tab-background-color: #180e0c;
  --project-tab-hover-background-color: #282221;
  --project-tab-text-color: #656161;
  // File Tab
  --file-tab-background-color: #272a2a;
  --file-tab-header-background-color: #3d3f41;
  --file-tab-hover-background-color: #272a2a;
  --file-tab-text-color: #a2a3a3;
  // Popover
  --popover-background: #4b4d4d;
  --popover-text: #c0bfc0;
  // Scale
  --scale-border: #343434;
  // Editor
  --sequence-background-color: #313334;
  --sequence-border-color: #4e4e50;
  --sequence-text-color: #5d6062;
  --color-fg-default: #c9d1d9;
  --color-canvas-subtle: #161b22;
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
}

@mixin dark {
  // Project Tab
  --project-tab-background-color: #180e0c;
  --project-tab-hover-background-color: #282221;
  --project-tab-text-color: #656161;
  // File Tab
  --file-tab-background-color: #272a2a;
  --file-tab-header-background-color: #3d3f41;
  --file-tab-hover-background-color: #272a2a;
  --file-tab-text-color: #a2a3a3;
  // Popover
  --popover-background: #4b4d4d;
  --popover-text: #c0bfc0;
  // Scale
  --scale-border: #343434;
  // Editor
  --sequence-background-color: #313334;
  --sequence-border-color: #4e4e50;
  --sequence-text-color: #5d6062;
  --color-fg-default: #c9d1d9;
  --color-canvas-subtle: #161b22;
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
}

body[data-theme='auto'] {
  @include light();

  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}

body[data-theme='light'] {
  @include light();
}

body[data-theme='dark'] {
  @include dark();
}


