@mixin light {
  --tab-background: #a360fc;
  --font-color: #fffffd;
}

@mixin dark {
  --tab-background: #202123;
  --font-color: #5f6161;
}

body[data-theme='auto'] {
  @include light();

  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}

body[data-theme='light'] {
  @include light();
}

body[data-theme='dark'] {
  @include dark();
}


