@mixin light {
  --tab-background: #a360fc;
  --font-color: #fffff;
  --popover-background: #fffff;
  --popover-text: #202123;
}

@mixin dark {
  --tab-background: #202123;
  --font-color: #5f6161;
  --popover-background: #4A4B4B;
  --popover-text: #bdbdbd;
}

body[data-theme='auto'] {
  @include light();

  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}

body[data-theme='light'] {
  @include light();
}

body[data-theme='dark'] {
  @include dark();
}


