@import "@/css/variable.scss";

$sequence-width: 80px;
$sequence-border: 1px;
$spacing-up-and-down: 4px;
$spacing-about: 1px;
$w-textarea: 'w-tc-editor';

.editor {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(
                  to right,
                  var(--sequence-background-color) 0px,
                  var(--sequence-background-color) $sequence-width,
                  var(--sequence-border-color) $sequence-width,
                  var(--sequence-border-color) calc($sequence-width + $sequence-border),
                  transparent calc($sequence-width + $sequence-border),
                  transparent 100%
  );
  .sequence {
    min-width: calc($sequence-width + $sequence-border - ( $spacing-about * 2 ));
    height: calc(( $spacing-up-and-down * 2 ) + var(--code-font-size));
    padding: $spacing-up-and-down $spacing-about;
    .sequence-number {
      display: flex;
      align-items: center;
      color: var(--sequence-text-color);
    }
  }
}

.language-js {
  color: #a9b7c6;
  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: var(--color-prettylights-syntax-comment);
  }
  .token.punctuation {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
  }
  .namespace {
    opacity: 0.7;
  }

  .token.boolean,
  .token.constant,
  .token.deleted,
  .token.number,
  .token.symbol {
    color: var(--color-prettylights-syntax-entity-tag);
  }

  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector,
  .token.string {
    color: var(--color-prettylights-syntax-constant);
  }

  .style .token.string,
  .token.entity,
  .token.property,
  .token.operator,
  .token.url {
    color: var(--color-prettylights-syntax-constant);
  }

  .token.atrule,
  .token.property-access .token.method,
  .token.keyword {
    color: var(--color-prettylights-syntax-keyword);
  }

  .token.function {
    color: var(--color-prettylights-syntax-string);
  }

  .token.important,
  .token.regex,
  .token.variable {
    color: var(--color-prettylights-syntax-string-regexp);
  }

  .token.bold,
  .token.important {
    color: var(--color-prettylights-syntax-markup-bold);
  }
  .token.tag {
    color: var(--color-prettylights-syntax-entity-tag);
  }
  .token.attr-value,
  .token.attr-name {
    color: var(--color-prettylights-syntax-constant);
  }
  .token.selector .class,
  .token.class-name {
    color: var(--color-prettylights-syntax-entity);
  }
}




