@import "@/css/variable.scss";

.tab {
  display: flex;
  flex-direction: column;
}

.tab-header-item {
  display: flex;
}

.tab-header {
  display: flex;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
  text-align: center;
  width: 100%;
}


